<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.ReportMapper">

    <select id="countEmpJobData" resultType="java.util.Map">
        select
        (case when job=1 then '班主任'
        when job=2 then '讲师'
        when job=3 then '学工主管'
        when job=4 then '教研主管'
        when job=5 then '咨询师'
        else '其他' end) pos,
        count(*) num
        from emp group by job order by num
    </select>

    <select id="countEmpGenderData" resultType="java.util.Map">
        SELECT
        IF(gender = 1, '男', '女') name,
        COUNT(*) value
        FROM emp GROUP BY gender;
    </select>

    <select id="countStudentDegreeData" resultType="java.util.Map">
        SELECT
        CASE degree
        WHEN 1 THEN '初中'
        WHEN 2 THEN '高中'
        WHEN 3 THEN '专科'
        WHEN 4 THEN '本科'
        WHEN 5 THEN '硕士'
        WHEN 6 THEN '博士'
        ELSE '未知'
        END AS `name`,
        COUNT(*) AS `value`
        FROM student GROUP BY degree;
    </select>

    <select id="countStudentCountData" resultType="java.util.Map">
        <!--SELECT
        case when clazz_id=1 then '1-1'
        when clazz_id=2 then '1-2'
        when clazz_id=3 then '1-3'
        when clazz_id=4 then '1-4'
        when clazz_id=5 then '1-5'
        when clazz_id=6 then '1-6'
        when clazz_id=7 then '1-7'
        when clazz_id=8 then '1-8'
        when clazz_id=9 then '1-9'
        when clazz_id=10 then '1-10'
        when clazz_id=11 then '1-11'
        when clazz_id=12 then '1-12'
        ELSE '其他'
        END AS clazz,
        count(*) num
        FROM student GROUP BY clazz_id order by num;-->

        <!--SELECT
        CASE
        WHEN clazz_id=1 THEN '1-1'
        WHEN clazz_id=2 THEN '1-2'
        WHEN clazz_id=3 THEN '1-3'
        WHEN clazz_id=4 THEN '1-4'
        WHEN clazz_id=5 THEN '1-5'
        WHEN clazz_id=6 THEN '1-6'
        WHEN clazz_id=7 THEN '1-7'
        WHEN clazz_id=8 THEN '1-8'
        WHEN clazz_id=9 THEN '1-9'
        WHEN clazz_id=10 THEN '1-10'
        WHEN clazz_id=11 THEN '1-11'
        WHEN clazz_id=12 THEN '1-12'
        ELSE '其他'
        END AS `clazz`,
        COUNT(*) AS `num`
        FROM student
        GROUP BY
        CASE
        WHEN clazz_id=1 THEN '1-1'
        WHEN clazz_id=2 THEN '1-2'
        WHEN clazz_id=3 THEN '1-3'
        WHEN clazz_id=4 THEN '1-4'
        WHEN clazz_id=5 THEN '1-5'
        WHEN clazz_id=6 THEN '1-6'
        WHEN clazz_id=7 THEN '1-7'
        WHEN clazz_id=8 THEN '1-8'
        WHEN clazz_id=9 THEN '1-9'
        WHEN clazz_id=10 THEN '1-10'
        WHEN clazz_id=11 THEN '1-11'
        WHEN clazz_id=12 THEN '1-12'
        ELSE '其他'
        END
        ORDER BY num;-->

        <!--WHEN clazz_id=13 THEN '1-13'
        WHEN clazz_id=14 THEN '1-14'
        WHEN clazz_id=15 THEN '1-15'
        WHEN clazz_id=16 THEN '1-16'
        WHEN clazz_id=17 THEN '1-17'
        WHEN clazz_id=18 THEN '1-18'
        WHEN clazz_id=19 THEN '1-19'
        WHEN clazz_id=20 THEN '1-20'-->

        SELECT
        case when clazz_id=1 then '1-1'
        when clazz_id=2 then '1-2'
        when clazz_id=3 then '1-3'
        when clazz_id=4 then '1-4'
        when clazz_id=5 then '1-5'
        when clazz_id=6 then '1-6'
        when clazz_id=7 then '1-7'
        when clazz_id=8 then '1-8'
        when clazz_id=9 then '1-9'
        when clazz_id=10 then '1-10'
        when clazz_id=11 then '1-11'
        when clazz_id=12 then '1-12'
        WHEN clazz_id=13 THEN '1-13'
        WHEN clazz_id=14 THEN '1-14'
        WHEN clazz_id=15 THEN '1-15'
        WHEN clazz_id=16 THEN '1-16'
        WHEN clazz_id=17 THEN '1-17'
        WHEN clazz_id=18 THEN '1-18'
        WHEN clazz_id=19 THEN '1-19'
        WHEN clazz_id=20 THEN '1-20'
        ELSE '其他'
        END AS clazz,
        count(*) num
        FROM student GROUP BY clazz_id order by num;

    </select>


</mapper>